<h2>Image clasification (video)</h2>




<!-- <img (click)="randomImg()" (load)="onloadImg()" [src]="base64Img" id="img" crossorigin width="200" height="200">

<input accept="image/*" id="imgInput" (change)="changeImg()" type="file">
 -->



<video (click)="pause=!pause" autoplay playsinline muted id="webcam" width="224" height="224"></video>


<br>
<div *ngFor="let item of description;let idx = index">
    <br>
    <h5>Element: {{idx+1}} </h5>
    <p>className: {{item.className}}</p>
    <p>probability: {{item.probability}}</p>

</div>


<!-- https://i.imgur.com/JlUvsxa.jpg -->

<!-- <img src="https://i.imgur.com/JlUvsxa.jpg" id="img" crossorigin width="200" height="200" > -->