<h2>Custom image clasification (video)</h2>

<button (click)="addExample(1)">Elemento1</button>
<button (click)="addExample(2)">Elemento2</button>
<button (click)="addExample(3)">Elemento3</button>
<button (click)="addExample(4)">Elemento4</button>
<br>
<button (click)="save()">save</button>
<button (click)="load()">load</button>



<video (click)="pause=!pause" autoplay playsinline muted id="webcam" width="224" height="224"></video>


<br>
<div *ngFor="let item of description;let idx = index">
    <br>
    <h5>Encontrados: {{idx+1}} </h5>
    <p>className: {{item.className}}</p>
    <p>probability: {{item.probability}}</p>

</div>

